#page ul.quicktabs-tabs li {
    margin-top: 5px;
    padding: 12px 10px;
    a {
      font-size: 14px;
    }
    
}

ul.quicktabs-tabs li.active {
    background-color: white;
}

#page ul.quicktabs-tabs {
  background-color: grey;
  padding: 20px 0px 0px;
  a:hover {
    color: black;
  }

}


#pdf_reader {
  height: 1300px;
  width: 800px;
}

@media all and (max-width:$mobile-menu) {
  #pdf_reader {
    height: 150vw;
    width: 97%;
  }
}



.quicktabs-tabs {
  text-align: center;
}

// Center text below PDF
#page a.pdf-reader-download-link {
  text-align: center;
  display: block;
}


/* Block for MENU's (PDF) */
.page-food .region-top, 
.page-drinks .region-top {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: auto;
    .field-name-body {
      padding: 25px;
    }
}

.page-drinks #block-quicktabs-drinks-tabs.block,
.page-food #block-quicktabs-food-tabs.block {
  padding: 0px;
  #block-nodeblock-43,
  #block-nodeblock-48,
  #block-nodeblock-46,
  #block-nodeblock-2,
  #block-nodeblock-3 {
    padding: 0px 0px;
  }
}

#block-nodeblock-44,
#block-nodeblock-43,
#block-nodeblock-48,
#block-nodeblock-2 {
  padding: 0px 0px;
}

@media all and (max-width:$mobile-menu) {
  .page-food .region-top, 
  .page-drinks .region-top {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    #block-nodeblock-3 {
      width: 100%;
    }
  }

}