.hr-food-drink {
    margin-top: -50px;
}

#food-drink {
  width: 100%;
  background-color: white;
  height: 100px;
  border: 0px solid green;
  clear: both;
  margin-bottom: 50px;
  text-align: center;
}