#navigation {
  margin: 100px 0px 100px;
  background-color: white;
  font-family: "Arvo";
  position: relative;
}

#navigation #main-menu {
  height: 50px;
  width: $max-width;
  margin: 0 auto;
  padding-left: auto;
  padding-right: auto;
  li {
    display: block;
    float: left; 
    padding-top: 12px;
    text-align: center;
    width: 120px;
    color: black;
  }
  li.active {
    border: 0px solid red;
    background-image: url("/sites/all/themes/ward6/images/logo_background_brown.png");
    background-size: 120px;
    // transition: transform 1.5s .5s ease-out;
    width: 110px;
    height: 108px;
    font-size: 26px;
    margin: 0px;
    position: relative;
      top: -35px;
    animation: myfirst 0.5s;
    a {
      display: block;
      width: 115px;
      margin: 35px auto;
      color: white;
    }

  } 
  li.selected {
    background-image: url("/sites/all/themes/ward6/images/logo_background.png");
    background-size: 100px;
    width: 90px;
    height: 88px;
    font-size: 24px;
    margin: 0px 8px;
    position: relative;
      top: -25px;
    animation: myfirst 0.5s;
    a {
      display: block;
      color: white;
      width: 100px;
      margin: 25px auto;
      font-size: 15px;
      :hover {
        color: white;

      }
    }
  }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
  from {opacity: 0.2;}
  to {opacity: 1;}
}

/* Standard syntax */
@keyframes myfirst {
  from {opacity: 0.2;}
  to {opacity: 1;}
}

@media all and (min-width:800px) {
  .mobile-logo {
    display: none;
  }
}