#navigation {
  position: relative;
  top: inherit;
  margin: 60px 0px 80px;
}

#lg-screen-navigation {

  background-color: white;
  font-family: "Arvo";
  position: relative;
}

#lg-screen-navigation #main-menu {
  height: 50px;
  max-width: $max-width;
  margin: 0 auto;
  padding-left: auto;
  padding-right: auto;
  li {
    display: block;
    float: left; 
    padding-top: 12px;
    text-align: center;
    width: 120px;
    color: black;
  }
  li.active {
    border: 0px solid red;
    background-image: url("/sites/all/themes/ward6/images/logo_background_brown.png");
    background-size: 120px;
    // transition: transform 1.5s .5s ease-out;
    width: 110px;
    height: 108px;
    font-size: 26px;
    margin: 0px;
    position: relative;
      top: -35px;
    animation: myfirst 0.5s;
    a {
      display: block;
      width: 115px;
      margin: 35px auto;
      color: white;
    }

  } 
  li.selected {
    background-image: url("/sites/all/themes/ward6/images/logo_background.png");
    background-size: 100px;
    width: 90px;
    height: 88px;
    font-size: 24px;
    margin: 0px 8px;
    position: relative;
      top: -25px;
    animation: myfirst 0.5s;
    a {
      display: block;
      color: white;
      width: 100px;
      margin: 25px auto;
      font-size: 15px;
      :hover {
        color: white;

      }
    }
  }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
  from {opacity: 0.2;}
  to {opacity: 1;}
}

/* Standard syntax */
@keyframes myfirst {
  from {opacity: 0.2;}
  to {opacity: 1;}
}

/* Logo for mobile display */

.mobile-logo {
  width: 70px;
  margin-top: 20px;
  float: right;
  margin-right: 4vw;
}

@media all and (min-width:$responsive-menu) {
  .mobile-logo {
    display: none;
  }
}

@media all and (max-width:$mobile-menu) {
  #navigation {
    background-color: $menu-background;
    height: 110px;
    box-shadow: 2px 2px 2px #000;
    margin: 0px 0px 70px;
  }

  .toggler {
    margin-left: 10px;
    margin-top: 40px;
    width: 100px;
  }

  .mobile-logo {
    display: inline;
  }
  .responsive-menus.responsified span.toggler {
    box-shadow: none;
    float: left;
    width: 25%;
  }

  // Mobile Drop Down Menu
  #page #main-menu a {
    color: white;
  }
  .responsive-menus {

    li {
      background-color: #8c4a21;
    }
    :hover {

    }
  }

}


/* Responsive Menu */

.responsive-menus.responsified span.toggler {
    background: $menu-background none repeat scroll 0 0;
}

.responsive-menus.responsified.responsive-toggled span.toggler {
    border-bottom: none;
}

.responsive-menus.responsified .responsive-menus-simple .last a {
    border-bottom: none;
}

.responsive-menus.responsified.responsive-toggled.absolute .responsive-menus-simple {
  top: 110px;
}

#page .responsive-menus.responsified .responsive-menus-simple li a {
  padding: .5em 5%;
  border-bottom: none;
  font-weight: 600;
  font-size: 14px;

}

  #page .responsive-menus.responsified .responsive-menus-simple li a:hover {
    background-color: $menu-background;
  }

